<body>
    <main class="main d-flex align-items-center justify-content-center vh-100">
        <div class="welcome-box text-center p-4">
            <h1 class="display-3 fw-bold text-light">Welcome to Flicko Admin Panel</h1>
            <p class="lead text-light mt-3">Manage movies, users, and content seamlessly.</p>
            <img src="assets/logo/flicko.png" alt="Welcome Image" class="mt-4 flic" width="250">
        </div>
    </main>
    
</body>
