	<header class="header">
		<div class="header__content">
		
			<a href="index.html" class="header__logo">
				<img src="assets/logo/Flicko.png" alt="">
			</a>
			<button class="header__btn" type="button">
				<span></span>
				<span></span>
				<span></span>
			</button>

		</div>
	</header>
